*{
    padding: 0;
    margin: 0;
}
body{
    background: white;
}
.grid{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    height: auto;
    margin-top: 20%;
}
.grid button{
    width: 12vw;
    height: 5vh;
    justify-self: center;
    align-self: center;
    background-color: #e34747;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 2vh;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
}
#text{
    display: flex;
    justify-self: center;
    margin-top: 5%;
    display: none;
    font-size: 5vh;
    color: black;
    align-self: center;
}
#img{

    display: none;
    width: 25vw;
    height: 30vh;
    justify-self: center;
    margin-top: 5%;
    border-radius: 1vh;
}